# Este archivo .gitignore debe colocarse en la raíz de su directorio de proyectos de Unity
#
# Obtenga lo último de https://github.com/github/gitignore/blob/master/Unity.gitignore
#
** /[ Ll ] biblioteca /
** /[ Tt ] emp /
** /[ Oo ] bj /
** /[ Bb ] construcción /
** /[ Bb ] construye /
** /[ Ll ] ogs /
** /[ Mm ] capturas emory /
** /[ Uu ] serSettings /


# #Los metadatos de activos solo deben ignorarse cuando el activo correspondiente también se ignora
! /[ Aa ] conjuntos / ** / * .meta

# Descomente esta línea si desea ignorar el complemento de herramientas de la tienda de activos
# /[Aa]ssets/AssetStoreTools*

# Complemento Jetbrains Rider autogenerado
[ Aa ] ssets / Complementos / Editor / JetBrains *

# Directorio de caché de Visual Studio
.vs /

# Directorio de caché de Gradle
.gradle /

# Solución VS/MD/Consulo autogenerada y archivos de proyecto
ExportadoObj /
.consulo /
* .csproj
* .unityproj
* .sln
* .suo
* .tmp
* .usuario
* .preferencias de usuario
* .pidb
* .booproj
* .svd
* .pdb
* .mdb
* .opendb
* .VC.db
* .syncmetadatos

# Metaarchivos generados por Unity3D
* .pidb.meta
* .pdb.meta
* .mdb.meta

# Archivo generado por Unity3D en informes de fallas
información del sistema.txt

# Construcciones
* .apk
* .paquete de unidad

# Archivo generado por Crashlytics
crashlytics-build.propiedades

PruebaGit_U3D / Activos / Poyecto3D / Materiales / metal.mat
PruebaGit_U3D / Activos / Poyecto3D / Materiales / Nuevo  Material.mat
PruebaGit_U3D / UserSettings / EditorUserSettings.asset